{% extends 'mapper/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Time Tracker Dice!{% endblock %}

{% block content %}

{% if has_toggl_credentials %}

<script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>

<!-- <a href="https://github.com/bassjobsen/Bootstrap-3-Typeahead">USING THIS LIB</a>-->

{% for mapping in mappings %}

<form method="POST" id="form-face-{{ face }}">
  {% csrf_token %}
  <input type="hidden" name="face" id="face{{ mapping.face }}" value="{{ mapping.face }}">
  
  <div class="row">
    <div class="col col-md-1">
      <h1>{{ mapping.face }}</h1>
    </div>
    <div class="col col-md-6">      
      <input type="text"
	     class="form-control typeahead border-primary"
	     name="action"
	     id="action{{ mapping.face }}"
	     placeholder="Action"
	     data-provide="typeahead"
	     autocomplete="off"
	     value="{{ mapping.action.name }}">
    </div>
    <div class="col col-md-4">      
      <input type="text"
	     class="form-control typeahead border-primary"
	     name="project"
	     id="project{{ mapping.face }}"
	     placeholder="Toggl project"
	     data-provide="typeahead"
	     autocomplete="off"
	     value="{{ mapping.action.project_name }}">
    </div>
    
    <div class="col col-md-1">
      <button type="submit" class="btn btn-primary">Salva</button>
    </div>
  </div>
</form>

{% endfor %}

<script>

  let registerActionInput = function(face, data) {
      let $actionInput = $("#action" + face);
      $actionInput.typeahead({
	  source: data,
	  afterSelect: function(res) {
	      if (res.project) {
		  $("#project" + face).val(res.project);
	      }
          }
      });

      $actionInput.on("click", function () {
	  $(this).select();
      });
  }

  let registerProjectInput = function(face, data) {
      let $projectInput = $("#project" + face);
      
      $projectInput.typeahead({
          source:data,
          showHintOnFocus: "all",
          autoSelect: true
      });
      
      $projectInput.on("click", function () {
	  $(this).select();
      });
  }
  
  $.get("{% url 'toggl-actions' %}", function(data) {      
      {% for mapping in mappings %}      
      registerActionInput({{ mapping.face }}, data);
      {% endfor %}
  }, 'json');

  $.get("{% url 'toggl-projects' %}", function(data){
      {% for mapping in mappings %}            
      registerProjectInput({{ mapping.face }}, data);
      {% endfor %}
  }, 'json');
    
</script>

{% else %}

<form method="POST" id="form-set-credentials" action="{% url 'toggl-credentials' %}">
  {% csrf_token %}

  <div class="row">
    <div class="col col-xs-10 col-md-10">      
      <input type="text"
	     class="form-control border-primary"
	     name="toggl_api_key"
	     placeholder="Toggl API KEY">
    </div>
    
    <div class="col col-xs-2 col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Salva</button>
    </div>
  </div>
</form>

{% endif %}

{% endblock %}

